<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>电商指数</display-name>
  <welcome-file-list>
    <welcome-file>index/main.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.sanyanyu.syybi.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.sanyanyu.syybi.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/a/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PermissionFilter</display-name>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>com.sanyanyu.syybi.filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <distributable/>
  
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/a/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndustryAnalysisServlet</display-name>
    <servlet-name>IndustryAnalysisServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.IndustryAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndustryAnalysisServlet</servlet-name>
    <url-pattern>/a/IndustryAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopAnalysisServlet</display-name>
    <servlet-name>ShopAnalysisServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.ShopAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopAnalysisServlet</servlet-name>
    <url-pattern>/a/ShopAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsAnalysisServlet</display-name>
    <servlet-name>GoodsAnalysisServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.GoodsAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsAnalysisServlet</servlet-name>
    <url-pattern>/a/GoodsAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/a/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarketAnalysisServlet</display-name>
    <servlet-name>MarketAnalysisServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.MarketAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarketAnalysisServlet</servlet-name>
    <url-pattern>/a/MarketAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScalpAnalysisServlet</display-name>
    <servlet-name>ScalpAnalysisServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.ScalpAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScalpAnalysisServlet</servlet-name>
    <url-pattern>/a/ScalpAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiamondAnalysisServlet</display-name>
    <servlet-name>DiamondAnalysisServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.DiamondAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiamondAnalysisServlet</servlet-name>
    <url-pattern>/a/DiamondAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountSettingServlet</display-name>
    <servlet-name>AccountSettingServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.AccountSettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSettingServlet</servlet-name>
    <url-pattern>/a/AccountSetting</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/u/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/a/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/r/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdviseServlet</display-name>
    <servlet-name>AdviseServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.AdviseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdviseServlet</servlet-name>
    <url-pattern>/a/AdviseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/a/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayOkServlet</display-name>
    <servlet-name>PayOkServlet</servlet-name>
    <servlet-class>com.sanyanyu.syybi.servlet.PayOkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayOkServlet</servlet-name>
    <url-pattern>/a/PayOkServlet</url-pattern>
  </servlet-mapping>
  
</web-app>